.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  :global(.dark) & {
    color: #fff;
  }
}

.themeSwitcher {
  width: 120px;
  height: 32px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  font-size: 1em;

  :global(.dark) & {
    color: #333;
    background-color: #E6E6E6;
  }
}

.update {
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(51, 98, 151);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}

.logoutBtn {
  width: 80px;
  height: 30px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(255, 110, 90);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
}