.container {
  width: 100%;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
}

.tasks {
  width: 100%;
  height: 100%;
  position: relative; 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  overflow: auto;
}

.tasksTitle {
  font-weight: 700;
  text-align: center;

  :global(.dark) & {
    color: white;
  }
}

.tasksList {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  overflow: auto;
}

.createTaskBtn {
  width: 100%;
}