.header {
  width: 100%;
  min-height: 40px;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
  user-select: none;
}

:global(.dark) .header {
  .link {
    color: white;
  }
}

.link {
  color: black;
  opacity: .7;
  &:hover {
    opacity: 1;
  }
}

.active {
  opacity: 1;
  cursor: default;
}